@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
.skiptocontent a {
	position: absolute;
	top:-40px;
	justify-content: left;
	background-color: aqua;
}
.skiptocontent a:focus {
	top:0;
}
body{
    font-family: Helvetica, Arial, sans-serif;
}
h1{
    font-size: 2em;
    font-family: Lora, Impact, serif;
    color:#473144;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;

}
.date-of-release{
    font-size: 1.2em;
}
h3{
    color: #AF1B3F;
    font-size: 2em;
    font-family: Lora, Impact, serif;
    margin-top: 1%;
}
.menu{
    display: grid;
    color:#AF1B3F;
    grid-template-columns: 90px 90px 90px;
    font-weight: bold;
    justify-content: end;
    justify-items: center;
    text-align: center;
    border-top: 2px solid #EFC69B;
    border-bottom: 2px solid #EFC69B;
    list-style: none;
    margin-right: 20px;
    padding-right: 10%;
    font-size: 1.2em;
}
.content{
    display: grid;
    grid-template-columns: 5.5fr 2fr;

}
.articles{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.description{
    font-size:1.3em;
}
li{
    padding-top: 20px;
    padding-bottom:20px;
}
.information{
    text-align: right;
    padding-right: 5%;
    margin-right: 5%;
    border-right: #EFC69B 2px solid;
}
.book {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.imgSrc{
    display: block;
    margin: 0 auto;
}

.filters{
    border-top:#EFC69B 2px solid;
    border-bottom: #EFC69B 2px solid;
    border-left: #EFC69B 2px solid;
    border-right: #EFC69B 2px solid;
    margin-right: 30%;
}
